@import "global.css";

.review-container {
    width: 100%;
    min-height: 75px;

    padding: 13px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: var(--bg-color2);
    border-radius: 10px;
}

.review-header {
    display: flex;
    justify-content: start;
    align-items: center;

    margin-bottom: 5px;
}

.review-person {
    font-family: var(--font-SemiBold);
    font-size: 16px;
}

.review-content {
    font-family: var(--font-Light);
    font-size: 15px;
}

.review-footer {
    font-family: var(--font-Light);
    font-size: 10px;
    color: var(--gray2);
    text-align: right;
}

.tag {
    background-color: var(--yellow);
    border-radius: 5px;
    
    color: white;
    font-family: var(--font-Medium);
    margin: 0 3px;
}

.tag-small {
    font-size: 8px;
    padding: 2px 7px;
}

.tag-big {
    font-size: 13px;
    padding: 2px 12px;
}

.tag-unselected {
    background-color: var(--gray1);
}